.btn {
  padding: .5em 1.5em;
  border: 0;
  border-radius: 3px;
  box-shadow: var(--shadow-sm);
}

.primary {
  background-color: var(--primary-color);
  color: white;
}

.danger {
  background-color: var(--danger-color);
  color: white;
}