.btn {
  padding: .5rem 1.5rem;
  border: 0;
  border-radius: 3px;
  box-shadow: var(--shadow-sm);
  margin: .5rem;
  margin-left: 0;


  &.primary {
    background-color: var(--primary-color);
    color: white;
  }

  &.secondary {

  }

  &.danger {
    background-color: var(--danger-color);
    color: white;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}