.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.appBody {
  display: flex;
  flex: 1;
  min-height: 0;
}

.appContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  padding: 1rem;
  overflow: auto;
}