.sidebar {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  box-shadow: var(--shadow-md);

  h1 {
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--surface);
  }

  button {
    margin: 0 1rem;
    padding: 1rem;
    text-align: left;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    color: var(--sidebar-text);
    font-size: 0.875rem;
    cursor: pointer;
    transition: all 0.2s ease;

    &:not(:last-child) {
      margin-bottom: .5rem;
    }

    &.active {
      border: 1px solid var(--sidebar-hover);
    }

    &:hover {
      background-color: var(--sidebar-hover);
    }
  }
}